src_note/develop/others/java_src/Test/Test/WebRoot/WEB-INF/dtd-xml/poem.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 元素声明 -->
<!-- !ELEMENT 元素名称 元素数据类型 -->
<!-- !ELEMENT 名称 数据类型 -->

<!-- 属性声明 -->
<!-- <!ATTLIST 元素名称 属性名称 数据类型 默认值 > -->
 
<!ELEMENT poems (poem*)>
<!ELEMENT poem (author,title,content)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT content (#PCDATA)>
<!ATTLIST author name CDATA #IMPLIED firstname CDATA #IMPLIED>
