src_note/develop/others/java_src/Test/Test/WebRoot/WEB-INF/dtd-xml/test.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT tmps (tmp*,stu*)>
<!ELEMENT tmp (year)>
<!ELEMENT year (#PCDATA)>
<!--<!ELEMENT id (#PCDATA)> <!ELEMENT name (#PCDATA)>-->

<!ELEMENT stu (id,name,age,sex,address,tel)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT sex (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT tel (#PCDATA)>
